main {
  position: relative;
  background: #396afc; /* fallback */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc);
}
.theme-toggle {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.5rem;
  border-radius: 100%;
  padding: 1.5rem 2rem;
  border: 2px solid rgba(244, 244, 244, 0.9);
  opacity: 1;
  color: $dark;
  transform: scale(0.75);
  transition: all 200ms ease-in-out;
  background: none;
  i {
    pointer-events: none;
    color: white;
  }
}
.theme-toggle:hover {
  opacity: 1;
  transform: scale(0.9);
  // background: #000;
  // color: white;
}
.dark-theme {
  position: relative;
  background: #232526; /* fallback */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}
.light-theme {
  position: relative;
  background: #396afc; /* fallback */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc);
}
.todo {
  min-height: 100vh;
  display: grid;
  grid:
    ". header header ." 35rem
    ". lists active  ." auto
    ". . . .  " /
    1fr minmax(10rem, 30rem) minmax(25rem, 50rem) 1fr;
}
.logo {
  grid-area: header;
  text-align: center;
  height: 25rem;
  img {
    height: 25rem;
  }
}
.all-tasks-list h2,
.todo-header h2 {
  font-family: "Michroma", sans-serif;
  color: $light;
  letter-spacing: 0.3rem;
}
.all-tasks-list {
  grid-area: lists;
  color: $light;
  padding: $spacing;
}
.all-tasks-list-dark {
  background: rgba(244, 244, 244, 0.075);
}
.task-list {
  line-height: 2;
  font-size: 1.3rem;
  padding-left: 1.7rem;
  list-style: circle;
  padding: $spacing-form;
}
.list-item:hover {
  transform: scale(1.05);
}
.active-list {
  font-size: 1.8rem;
  transform: scale(1.05);
  opacity: 1;
  font-weight: 800;
  text-decoration: underline;
}

.todo-list {
  grid-area: active;
  background: rgba($color: $light, $alpha: 0.05);
}

.todo-header {
  @include flex(space-between, center, row);
  background: rgba($color: $dark, $alpha: 0.05);
  padding: $spacing;
}
.todo-body {
  padding: $spacing;
}
.task-counter {
  font-size: 1.3rem;
  padding-left: 0.2rem;
  transition: 100ms all ease-in;
}
.task-counter:hover {
  font-size: 1.5rem;
}

.new-list-add,
.new-task-add {
  border: none;
  border-bottom: 1px solid $light;
  color: rgba(244, 244, 244, 1);
  font-size: inherit;
  outline: none;
  transition: all 125ms ease-in-out;
  background: transparent;
  order: 2;
}
.new-list-add::placeholder,
.new-task-add::placeholder {
  color: rgba(244, 244, 244, 0.8);
}

.new-list-add {
  font-size: 1.4rem;
}
.new-list-add:hover,
.new-task-add:hover {
  border-bottom-width: 0.25rem;
}
.title {
  margin: 0 1rem 0 0;
}

.new-list-add:hover::placeholder,
.new-task-add:hover::placeholder {
  opacity: 1;
}
.new-list-add:focus,
.new-task-add:focus {
  border-bottom-width: 0.35rem;
}
.new-list-add:focus::placeholder,
.new-task-add:focus::placeholder {
  opacity: 0.5;
}
.new-task-add::after {
  display: none !important;
}

form {
  display: flex;
  margin-top: $spacing-form;
}
.btn,
.btn-task {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
}
.btn.list,
.btn-task {
  font-size: 2.5rem;
  font-weight: 900;
  margin-right: 0.5rem;
  transition: 250ms ease-in;
}
.btn.list:hover,
.btn-task:hover {
  opacity: 0.5;
}
.btn-clear-completed-tasks,
.btn-delete-list {
  transition: 150ms all ease-in;
  font-weight: 800;
  opacity: 0.85;
  font-size: 1.3rem;
  margin: 2rem;
}

.btn-delete-list:hover,
.btn-clear-completed-tasks:hover {
  text-decoration: underline;
  opacity: 0.5;
}
[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
.custom-check {
  display: inline-block;
  width: $size;
  height: $size;
  cursor: pointer;
  border: 1px solid $light;
  border-radius: 50%;
  transform: scale(0.9);
  transition: transform 100ms ease-in;
  margin-right: $size;
}
.task label {
  @include flex(flex-start, center, row);
  position: relative;
  margin-bottom: 1.5rem;
}
.task {
  position: relative;
  transition: 100ms all ease-in-out;
}
.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.4rem;
  height: 1px;
  opacity: 0.35;
  background: $light;
}
.task:hover .custom-check,
[type="checkbox"]:focus + label .custom-check {
  transform: scale(1.25);
}
[type="checkbox"]:checked + label .custom-check {
  border-color: rgba($color: $light, $alpha: 1);
  box-shadow: inset 0 0 0px 10px #fff;
}
[type="checkbox"]:checked + label {
  opacity: 0.35;
}
