main {
  background: #396afc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc);
}
.todo {
  height: 100vh;
  display: grid;
  grid:
    "header header header header" 25rem
    "...... lists active ......." auto /
    1fr minmax(10rem, 30rem) minmax(25rem, 50rem) 1fr;
}
.logo {
  grid-area: header;
  text-align: center;
  height: 25rem;
  img {
    height: 25rem;
  }
}

.all-tasks-list {
  grid-area: lists;
  color: $light;
}
.task-list {
  line-height: 2;
}

.todo-list {
  grid-area: active;
}
