main {
  background-color: #8ec5fc;

  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.todo {
  height: 100vh;
  @include flex(flex-start, center, column);
  width: 95%;
  margin: auto;
}
.logo {
  img {
    height: 30rem;
  }
}
.input-bar {
  width: 100vw;
  @include flex(center, center, row);
  input {
    width: 40rem;
    padding: 1rem;
    margin: 2rem;
    outline: none;
    border-radius: 1rem;
  }
}
.todo-bar:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.btn-add {
  background-image: linear-gradient(
    to right,
    #7474bf 0%,
    #348ac7 51%,
    #7474bf 100%
  );
}
.btn-add {
  margin: 1rem;
  padding: 1rem 3rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 1rem;
}

.btn-add:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.tasks-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 47.5vw);
  margin-top: 3rem;
}
.pending,
.completed {
  text-align: center;
  @include flex(center, center, column);
  ul {
    margin-top: 3rem;
  }
  li {
    margin-top: 1.2rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: white;
  }
}
.pending {
  li {
    background-image: linear-gradient(to right, #348ac7 0%, #7474bf 100%);
  }
}
.completed {
  li {
    background-image: linear-gradient(to left, #348ac7 0%, #7474bf 100%);
  }
}
