@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
$dark: #333;
$light: #f4f4f4;
$spacing: 2.5rem;
$spacing-form: 1rem;
$size: 0.8rem;
